.Swing {
	margin: auto;

	&:focus {
		outline: none;
	}
}
.Swing-stack {
	padding: 0;
	list-style: none;
	// width: 40vw;
	// min-width: 250px;
	// max-width: 28rem;
	height: 300px;
	position: relative; // contain cards
	border-radius: 0.3rem;
	background: rgba(black, 0.2);
}
.Swing-card {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 1rem;
	background: #fafafa;
	border: 5px solid #ECECEC;
	border-radius: 0.3rem;
	box-shadow: 0 0 2px rgba(0,0,0,.2), 1px 1px 1px rgba(0,0,0,.2);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column nowrap;
	text-align: center;
	// font-size: 1.1vw;
	cursor: grab;

	&.is-dragging {
		// opacity: 0.9;
		box-shadow: 0 0 4px rgba(0,0,0,.2), 2px 2px 2px rgba(0,0,0,.2);
	}

	&.is-top {
		border-color: darken(#ececec, 5%);
	}

	// bit more diverse stack
	&.is-stacked {
		&:nth-child(2) {
			top: 4px;
			transform: translate(-4px, -2px) rotate(-1deg);
		}
		&:nth-child(3) {
			top: 2px;
			transform: translate(2px, 2px) rotate(0.4deg);
		}
	}
}
